.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
  }
  &:after {
    clear: both;
    display: table; // 2
  }
}

.box-sizing(@box-type){
  box-sizing: @box-type;
}

.background-size(@width,@height){
  background-size:@width @height;
}

.background-base(){
  background-image: linear-gradient(180deg, @bg-color-start, @bg-color-mid 500rem/100,
  @bg-color-mid-2 1000rem/100, @bg-color-end 100%);
  .background-size(100%,100%);
  background-repeat:no-repeat;
}
